body{
    width: 100%;
    height: 100%;
    background-color: #ffffff !important;
}
@keyframes socchiuso-aperto {
    0% { background: url(../media/door/1.png); }
    50% { background: url(../media/door/2.png); }
    100% { background: url(../media/door/3.png); }
}
.door{
    height: 395px;
    width: 190px;
    background: url(../media/door/0.png);
    word-wrap: break-word;
    overflow: hidden;

    display: inline-block;
}

.behindDoor{
    display: inline-block;
}

.door.unlocked:hover{
    background: url(../media/door/1.png);
}

.door.pending{
    background: url(../media/door/1.png);
}

.door.open{
    animation-name: socchiuso-aperto;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}


#doorContainer{
    margin-top: 10%;
    margin-left: 20%;
    width: 50%;
    border: 5px solid brown;
    padding: 10px;
    background-color: #F8F9FA
;
}

#doorCont{
    margin: auto;
    width: 50%;
    padding: 10px;
}
